.posts__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts__header h1 {
    font-weight: 500;
    margin: 20px 0;
}

.posts__header button {
    padding: 8px 12px;
    font-size: 14px;
}

.posts__header button:last-child {
    margin-left: 5px;
}

.posts__header button,
.showMore button {
    background-color: #0478FF;
    color: #fff;
    border-radius: 4px;
}

.cards--small {
    display: grid;

    grid-template-columns: 4fr 4fr 4fr;
    gap: 20px;
}

.cards--big {
    display: grid;

    grid-template-columns: 6fr 6fr;
    gap: 20px;
}

.error-info {
    width: 200px;
    text-align: center;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
}

.showMore {
    text-align: center;
    padding-bottom: 40px;
}

.showMore button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 40px;
}