.card {
    padding: 20px;
    border-radius: 4px;
}

.card__gray {
    background-color: #ccc;
}

.card__yellow {
    background-color: yellow;
}

.card__orange {
    background-color: orange;
}

.card h2 {
    margin: 0;
    font-weight: 500;
}

.card p {
    margin-top: 5px;
}

.card button {
    background-color: unset;
    color: #818586;
    border: 1px solid #818586;
    border-radius: 0;
    padding: 4px;
    font-size: 12px;
}