.card {
    padding: 20px;
    border-radius: 4px;
    overflow: hidden;
}

.card--gray {
    background-color: #ccc;
}

.card--yellow {
    background-color: yellow;
}

.card--orange {
    background-color: orange;
}

.card__info {
    margin-bottom: 15px;
}

.card__title {
    font-weight: 500;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__desc {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card button {
    background-color: transparent;
    color: #818586;
    border: 1px solid #818586;
    border-radius: 0;
    padding: 4px;
    font-size: 12px;
    transition: .3s;
}

.card button:hover {
    background-color: #b1b1b1;
}