body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3 {
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

.container-wrapper {
    width: 58%;
    margin: 0 auto;
}